#p2 {

	visibility: hidden;
}

.mdl-button {
  
  -webkit-animation: bounce .7s infinite alternate;
  -moz-animation: bounce .7s infinite alternate;
  animation: bounce .7s infinite alternate;
}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.3); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.3); }
}
@keyframes bounce {
  to { transform: scale(1.3); }
}